// <style>
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
// </style>
:root {
  @apply bg-white;
}

input {
  @apply px-2;
}
.fc-header-toolbar {
  display: inline-block;
  padding: 4px 4px;

  @apply space-x-8;
}

.fc-day {
  @apply m-8;
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}

.fc-view {
  @apply w-full h-full lg:h-3/4 xl:h-2/3 bg-white;
}

.fc-h-event {
  @apply bg-violet-500 border border-violet-600;
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-violet-100;
}

.fc .fc-button {
  @apply hover:bg-violet-900;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-violet-600;
}

.fc .fc-button-primary:disabled {
  @apply bg-violet-600;
}
.fc-v-event {
  @apply bg-violet-500 border border-violet-600;
}
.fc-theme-standard {
  width: 100%;
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('../assets//fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('../assets/fonts/Inter-Bold.ttf');
}
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('../assets/fonts/Inter-Bold.ttf');
}
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('../assets/fonts/Inter-Medium.ttf');
}
* {
  font-family: 'Inter' !important;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.justify-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  background-color: white;
}

#__next {
  background-color: white;
}

.slider-class-testimonal {
  column-gap: 2px;
}

.dots {
  border: '1px solid red';
}

.error {
  color: #f44336;
  font-family: Argentum Sans;
  font-weight: 400;
  font-size: 0.75rem;
  margin-top: 3px;
  margin-right: 14px;
  margin-left: 14px;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading {
  opacity: 0;
  animation-name: fade-in-out;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.css-mu2xzk-MuiTabs-indicator {
  display: none;
}
.css-1rss4jq-MuiModal-root-MuiDialog-root .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
  color: inherit !important;
}
.MuiTooltip-tooltip.MuiTooltip-tooltipPlacementRight.css-1ex80t1-MuiTooltip-tooltip {
  width: 0;
}

.custom-headerStyle {
  background-color: #f4f5f6;
}

.email-cell {
  color: #3a6fb6;
  text-decoration: underline;
}
// classes for custom scrollbar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fc-direction-ltr .fc-h-event:not(.fc-event-selected) .fc-event-resizer-end {
  right: auto !important;
}
